platformName='android'
platformVersion='9.0'
deviceName='Google Pixel 3'
app='bs://0fe7a88f9ca7f703542092674ca42a9034621fd7'
remote_url='http://hub.browserstack.com/wd/hub'
browserstack.userName='dimon'
browserstack.accessKey='12wws'
projectName='First Python project'
buildName='browserstack-build-1'
sessionName='BStack first_test'
